:root {
    --underline-height: .5em;
    --transition-duration: .5s;
}

body {
    font-family: system-ui, sans-serif;
    background: whitesmoke;
    min-height: 100vh;
}

nav {
    position: relative;
    white-space: nowrap;
    background: white;
    padding: var(--underline-height) 0;
    margin: 2em 0;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.05);
}

.underline {
    display: block;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    height: var(--underline-height);
    width: 20%;
    background: #E800FF;
    pointer-events: none;
    mix-blend-mode: multiply;
    transition: transform var(--transition-duration) ease-in-out;
}


a {
    display: inline-block;
    z-index: 10;
    width: 20%;
    padding: 1em 0;
    text-align: center;
    cursor: pointer;
}